<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  </head>

  <body>

  <div class="container-fluid text-center topcontainer">
    <!--<h1><img  src="../images/Pic1.jpg" class="img-rounded" alt="lion" width="300px" height="300px"/></h1>-->
    <img  src="../images/Pic1.jpg" class="img-circle" alt="lion" width="200px" height="200px" id="image"/>
    <h3 id="name">Saikrishnam Raju Nadimpalli</h3>
  </div>

  <div class="container-fluid text-center middle">

     <h3 id="name">Who am I ?</h3>

    <p>I am a graduate student at Santa Clara University <br/>
      I am looking for full-time opportunities to work as Software Developer <br/>
      I will be graduating in March 2016 <br/>
      Want to know more...
    </p>

  </div>



  <!--<div class="container-fluid">-->
    <!--<div class="row">-->
      <!--<div class="col-md-4 ">-->
        <!--<p>Project1</p>-->
        <!--<img src="../images/Portfoliopic1.jpg" class="img-responsive" alt="Responsive image" class="img-thumbnail" width="300px" height="300px">-->
      <!--</div>-->

      <!--<div class="col-md-4">-->
        <!--<p>Project1</p>-->
        <!--<img src="../images/Portfoliopic1.jpg" class="img-responsive" alt="Responsive image" class="img-thumbnail" width="300px" height="300px">-->
      <!--</div>-->

      <!--<div class="col-md-4">-->
        <!--<p>Project1</p>-->

        <!--<img src="../images/Portfoliopic1.jpg" class="img-responsive" alt="Responsive image" class="img-thumbnail" width="300px" height="300px">-->
      <!--</div>-->

    <!--</div>-->


  <!--</div>-->





  <div class="container-fluid bottom text-center " id="bottomid">

    <!--<strong>Contact me</strong><br>-->

    <ul class="list-inline ">
      <li><i class="fa fa-envelope fa-fw fa-2x"></i></li>
      <li><i class="fa fa-phone fa-fw fa-2x"></i></li>
      <li><a href="https://www.linkedin.com/in/saikrishnamnadimpalli"><i class="fa fa-linkedin fa-fw fa-2x"></i></a></li>
      <li><a href="https://github.com/SaiKrishnam"><i class="fa fa-github fa-fw fa-2x"></i></a></li>
    </ul>



          <!--<div class="row">-->
            <!--<div class="col-md-4">-->
             <!--<i class="fa fa-envelope fa-2x"></i>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<ul>-->
                <!--<li><a href="https://github.com/SaiKrishnam"><i class="fa fa-github fa-2x"></i></a></li>-->
                <!--<li><a href="https://www.linkedin.com/in/saikrishnamnadimpalli"><i class="fa fa-linkedin fa-2x"></i></a></li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<i class="fa fa-phone fa-2x"></i>-->
            <!--</div>-->

          <!--</div>-->






  </div>


  <!--<h1><%= title %></h1>-->
  <!--<p>Welcome to <%= title %></p>-->



  </body>

</html>
