<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  </head>

  <body >






  <div class="container text-center topcontainer">
    <!--<h1><img  src="../images/Pic1.jpg" class="img-rounded" alt="lion" width="300px" height="300px"/></h1>-->
    <img  src="../images/Pic1.jpg" class="img-circle" alt="lion" width="200px" height="200px" id="image"/>
    <h1 id="name"><strong>Saikrishnam Raju Nadimpalli</strong></h1>

  </div>



  <div class="container  middle">

     <p id="heading" class="text-center"><strong>Who am I ?</strong></p>

    <p id="description">I am a graduate student at Santa Clara University
      I am looking for full-time opportunities to work as Software Developer
      I will be graduating in March 2016
      Want to know more...
    </p>

    <hr/>

  </div>



    <!--<div class="row">-->
      <!--<div class="col-md-4 ">-->
        <!--<p>Project1</p>-->
        <!--<img src="../images/Portfoliopic1.jpg"  alt="Responsive image" >-->
      <!--</div>-->



<div class="container  projects text-center">
  <p class="text-center" id="projectsHeading"><strong>Projects</strong></p>
  <div class="row ">

    <div class="col-md-4 col-sm-3  ">
      <p>Reaction Tester</p>
      <img src="../images/birds1.jpg" alt="" />
    </div>


    <div class="col-md-4 col-sm-3 ">
      <p>Responsive Website</p>
      <img src="../images/birds2.jpg" alt="" />
    </div>

    <div class="col-md-4 col-sm-3 ">
      <p>SugarMommas</p>
      <img src="../images/birds1.jpg" alt="" />
    </div>

    <div class="col-md-4 col-sm-3 ">
      <p>Arcade Game</p>
      <img src="../images/birds1.jpg" alt="" />
    </div>

    <div class="col-md-4 col-sm-3 ">
      <p>Arcade Game</p>
      <img src="../images/wov.png" alt="" width="500px" height="500px"/>
    </div>
  </div>
  <hr/>
</div>



  <div class="container bottom text-center " id="bottomid">

    <ul class="list-inline ">
      <li><i class="fa fa-envelope fa-fw fa-2x"></i></li>
      <li><i class="fa fa-phone fa-fw fa-2x"></i></li>
      <li><a href="https://www.linkedin.com/in/saikrishnamnadimpalli"><i class="fa fa-linkedin fa-fw fa-2x"></i></a></li>
      <li><a href="https://github.com/SaiKrishnam"><i class="fa fa-github fa-fw fa-2x"></i></a></li>
    </ul>

  </div>


  <!--<h1><%= title %></h1>-->
  <!--<p>Welcome to <%= title %></p>-->





  </body>

</html>
