
body{
  font-size: 100%;
  /*14px*/
}

.topcontainer #name{
  font-size:2em;
}

.topcontainer{
  background-color: darkcyan;
}

.topcontainer #image{
  margin: 4% 0% 2% 0%;
}

.topcontainer #name{
  margin: 2% 0% 4% 0%;
}



.middle{
  background-color: lightgray;
}

.middle p{
  font-size: 1.15em;
}

.middle #heading{
  margin-top:1em;
  font-size: 1.5em;
}

.middle #description{
  margin-bottom:1.5em;
}
/*#name {*/
  /*color: #000000;*/
/*}*/

.projects #projectsHeading{
  margin-top:1em;
  font-size: 1.5em;
  margin-bottom:1em;
}

.projects .col-md-4{
 margin-bottom:1.5em;
 }

.projects img{
  width:100%;
}
.bottom{
  background-color:black ;
}



#bottomid .fa{
  color: #ffffff;
}


#bottomid ul{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left:0%;
}

#bottomid li{
  display:inline;
  padding: 0% 2% 0% 2%;
  margin:0px;
}

