
.topcontainer{
  background-color: darkcyan;
}

.middle{
  background-color: lightgray;
}

#name {
  color: #000000;
}

.bottom{
  background-color:black ;
}

#bottomid strong{
  color: #126dd3;
}

#bottomid a,abbr{
  color: #ffffff;
}