
.topcontainer{
  background-color: darkcyan;
}

.topcontainer #image{
  margin: 1% 0%;
}

.topcontainer #name{
  margin: 1% 0% 2% 0%;
}


.middle{
  background-color: lightgray;
}

#name {
  color: #000000;
}

.bottom{
  background-color:black ;
}



#bottomid .fa{
  color: #ffffff;
}


#bottomid ul{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left:0%;
}

#bottomid li{
  display:inline;
  padding: 0% 2% 0% 2%;
  margin:0px;
}

